.frame{
 border-style: solid;
 border-width: thin;
 border-color: lightgrey;
 width: 320px;
 box-shadow: 5px 5px lightgrey;
 background-color: #e6e6ff;
}

.info_box{
  width: 300px;
  margin:0.5em;
  border-style: solid;
  border-width: thin;
  border-color: lightgrey;
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}

h3{
  padding-left: 1em
}

img{
  width:300px;
  height:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

p{
  padding-left: 0.5em;
  padding-top: 0;
}

ul{
  list-style-type: none;
  padding-left: 0.5em;
}

span{
  font-weight: bold;
}
